@font-face {
  font-family: valera;
  src: url(assests/fonts/valera-VariableFont_wght.ttf);
}

@font-face {
  font-family: valera;
  src: url(assests/fonts/VarelaRound-Regular.ttf);
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

:root {
  --bluebox: #7594bd;
  --bluelol: #6394d491;
  --back: #e4b476;
}

* {
  direction: rtl;
  text-align: right;
  font-family: valera;
  user-select: none;
}

body {
  background-size: 100vh 100vw;
  background-color: #e4b476;
  overflow: hidden;
}

/* Turn Screen  */

@media (orientation: portrait) {
  #lomda {
    opacity: 0;
  }
  #turnScreen {
    display: flex !important;
  }
}

@media (orientation: landscape) {
  #lomda {
    opacity: 1;
  }
  #turnScreen {
    display: none !important;
  }
}

#turnScreen {
  /* background-color: red; */
  display: none;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#turnScreenText {
  font-size: 8vw;
  display: block;
}
#turnScreenImg {
  height: 10vh;
}

/* Loading  */

#loadText {
  font-size: 2em;
  font-weight: bold;
}

#spinner {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: var(--bluebox);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

/* Random  */
.pages {
  display: none;
}

#lomda {
  display: none;
}

#lol {
  background-color: #6394d491;
  width: 70vw;
  height: 40vh;
  margin: 0vh 15vw 0vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10vh;
  padding: 2vw;
  border-radius: 1vw;
}

.btn {
  cursor: pointer;
  background-color: var(--bluelol);
  border-radius: 1vw;
  text-align: center;
  color: black;
  z-index: 1;
}

.btn:hover {
  /* filter: brightness(110%) !important; */
  background-color: var(--bluebox);
}

#mainTitle {
  display: none;
  width: 100vw;
  text-align: center;
}

.titles {
  text-align: center;
  font-size: 5vw;
  margin-top: 3vh;
  color: black;
  width: 50vw;
  align-self: center;
  border-radius: 1vw;
  /* margin-bottom: -31vh; */
}

.moveBtns {
  position: absolute;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  height: 8vh;
  top: 90vh;
  width: 10vw;
  display: none;
}

#nextBtn {
  right: 87vw;
}

#prevBtn {
  right: 5vw;
}

#peleImg {
  position: absolute;
  right: 0vw;
  top: 0vh;
  height: 18vh;
}

/* Popup */

#popup {
  position: absolute;
  width: 2vw;
  bottom: -10vh;
  height: 10vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2vw;
  background-color: hsl(214 100% 81% / 0.57);
}

#popupText {
  font-size: 2.5vw;
  text-align: center;
  padding-left: 0.5em;
  /* text-indent: -50%; */
}

#ideaPopup {
  height: inherit;
  padding: 1em;
  padding-bottom: 2em;
  height: 3vh;
  width: 1.5vw;
}

/* Main */
#main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

#main img {
  height: 25vh;
  width: 35vw;
}

#mainText { 
  /* text-align: center; */
  font-size: 2.5vw;
  color: black;
  /* color: #494949; */
}

#startBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  width: 12em;
  font-size: 1.75vw;
}

/* Page 1 */

#page1 {
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 2.5vw;
  width: 95vw;
  height: 70vh;
  /* background-color: green; */
}

#page1 p{
  font-size: 1.2vw;
  /* color: black; */
  text-align: center;
}

#page1 h1, h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2vw;
}

.infoPage1 {
  background-color: var(--bluelol);
  display: flex;
  flex-direction:  column;
  align-items: center;
  justify-content: space-around;
  width: 30vw;
  height: 60vh;
  padding: 1vw;
  border: rgb(84, 90, 84) 1px solid;
  border-radius: 2vw;
}

#earthquakeLogo {
  height: 10vh;
}

#mapImg {
  height: 30vh;
  width: 15vw;
}

#basicConceptBox {
  padding: 0.4vw;
  width: 25vw;
  height: 35vh;
  background-color: #7594bd;
  border: black 0.1vw solid;
  border-radius: 0.2vw;
}

.concept:hover {
  cursor: pointer;
  /* color: #e6e1e1 !important; */
}

/* Page 2 - GIF CARDS*/

.card {
  text-align: right;
  background-color: var(--bluelol);
  height: 47vh;
  transition: transform 0.2s ease-in-out;
  border: black solid 1px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.card:hover {
  transform: scale(1.1);
}

.card-title {
  text-align: center;
  font-weight: bold;
  font-size: 1vw;
  margin: unset !important;
  margin-top: 0.5vw !important;
  margin-bottom: 0.5vw !important;
}

.card-text {
  font-size: 0.85vw;
}
.card-body {
  padding: 0vh 1vw;
}

.card-img-top {
  height: 40%;
  width: 100%;
}

.row {
  position: absolute;
  width: 96vw;
  /* background-color: red; */
  right: 2vw;
  top: 25vh;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.col {
  padding: 0vh 0.5vw;
}

/* Page 3 - CIRCLES */

#page3Content {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  align-items: center;
}

.circle {
  height: 7vw;
  width: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
  border-radius: 50%;
  font-weight: bold;
  margin: 0vh 0.8vw;
  background-color: var(--bluelol);
  border: black solid 1px;
  color: black;
}

.circle:hover {
  background-color: var(--bluebox);
}

.circle p {
  text-align: center;
  font-size: 1.2vw;
  margin-bottom: 0em !important;
}

#circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 40vh;
  width: 30vw;
}

.israelInfoBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  border: black solid 1px;
  border-radius: 5%;
  width: 10vw;
  height: 18vh;
  background-color: var(--bluelol);
}

#infoIsrael {
  display: flex;
  width: 50vw;
  justify-content: space-between;
}
.logosIsrael {
  height: 4vh;
}

#infoIsrael p {
  text-align: center;
  font-size: 1.5vw;
  margin-top: 0.3em;
}

.infoIsraelBoxes {
  font-size: 1.1vw !important;
  margin-top: -0.5em !important;
}

#skullImg {
  right: 0.2vw;
}

.titleInfo {
  font-weight: bold;
}

#nicetable {
  position: absolute;
  right: -1vw;
  top: 22vh;
  height: 60vh;
  border: 1px black solid;
  text-align: center;
  margin: 0 3em;
  border-collapse: collapse;
  /* border-color: black 1px solid; */
}

#nicetable th {
  text-align: center;
  padding: 0 0.5vw;
  font-size: 1vw;
  border-collapse: collapse;
  border: black 1px solid;
  background-color: var(--bluebox);
}

#nicetable td {
  text-align: center;
  padding: 0 0.5vw;
  border-collapse: collapse;
  border: black 1px solid;
  font-weight: bold;
  background-color: var(--bluelol);
}

/* Page 4  */

#page4Content {
  position: absolute;
  height: 70vh;
  width: 60vw;
  right: 20vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-content: center;
}

.meaning {
  background-color: var(--bluelol);
  border: 0.1vw black solid;
  height: 10vh;
  display: flex;
  text-align: center;
  font-size: 1.5vw;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px;
  border-radius: 10em;
}

.meaning:hover {
  background-color: var(--bluebox);
}

#meaningTitle {
  background-color: #7594bd;
  font-weight: bold;
  border-radius: 0em;
}

/* Page 5 - MAMATZ */

#cards {
  position: absolute;
  /* background-color: red; */
  width: 80vw;
  right: 10vw;
  top: 30vh;
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flip-card {
  background-color: transparent;
  width: 15vw;
  height: 30vh;
  perspective: 1000px;
}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: var(--bluelol);
  color: black;
}

.flip-card-back {
  background-color: var(--bluebox);
  /* color: white; */
  transform: rotateY(180deg);
}

.titleMamatz {
  text-align: center;
  font-size: 2.8vw;
  font-weight: 800;
}

.textMamatz {
  font-size: 1.3vw;
  text-align: center;
  font-weight: 600;
}

#bigTitleIsuf {
  font-size: 1.8vw;
}

.logoMamatz {
  position: absolute;
  height: 8vh;
  width: 4vw;
  right: 5.4vw;
  top: 18vh;
}

#logoSociety {
  height: 10vh;
  width: 5vw;
  right: 4.75vw;
  top: 17vh;
}

/* Page 6 - MOVING ARROW*/

#responses {
  position: absolute;
  top: 24vh;
  width: 25vw;
  height: 60vh;
  margin-right: 10vw;
  /* margin-top: 37vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.response {
  height: 4vh;
}

.response p {
  font-size: 1.5vw;
  /* text-align: center; */
}

#responseInfoBox {
  position: absolute;
  height: 52vh;
  width: 42vw;
  background-color: var(--bluelol);
  border: solid 1px black;
  border-radius: 3%;
  top: 25vh;
  right: 45vw;
  padding: 2vw;
}

#titleResponse {
  font-size: 3vw;
  text-align: center;
  font-weight: 800;
}

#textResponse {
  font-size: 1.5vw;
}

#arrowImg {
  position: absolute;
  height: 5vh;
  width: 3vw;
  right: 6vw;
  top: 23.5vh;
}

.arrows {
  height: 6vh;
}

#arrows {
  position: absolute;
  bottom: -8vh;
  right: 43%;
  width: 14%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrows:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Page 7 */

#accordion {
  width: 50vw;
  height: 55vh;
  position: absolute;
  top: 20vh;
  margin-right: 25vw;
}

.accorBox {
  text-align: center !important;
  background-color: var(--back);
  border: transparent;
}

.accorBox p {
  font-size: 1.25vw;
  text-align: center !important;
}

.accorBox li {
  font-size: 1.25vw;
}

.accorTitle {
  text-align: center;
  transform: scale(1);
  font-weight: bold;
  font-size: 1vw !important;
  color: black;
  outline: transparent;
  border: transparent;
  background-color: var(--bluelol);
}

.accorTitle:hover {
  filter: brightness(110%) !important;
}

.ui-accordion .ui-accordion-content {
  padding: 0.5em 0.5em !important;
}

/* Page 8 */

#page8 {
  position: absolute;
  top: 22vh;
  right: 10vw;
  display: none;
  flex-direction: column;
  height: 75vh;
  width: 80vw;
}

#shlavim {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
  border-radius: 1em;
}

#shlavim img {
  width: 5vh;
  opacity: 0.3;
}

#placeholder {
  z-index: -1;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  color: rgb(90, 0, 0);
  font-weight: bold;
  font-style: italic;
}

#placeholder img {
  height: 80%;
  margin-top: 2vh;
}

.shlav {
  background-color: var(--bluelol);
  font-weight: 600;
  font-size: calc(0.7vw + 1.4vh);
  text-align: center;
  cursor: pointer;
  padding: 2vh 1vw;
  border-radius: 0.3em;
  transition: filter 0.2s;
  border: solid black 0.06em;
}

.shlav:hover {
  filter: brightness(130%) !important;
}

.shlav:active {
  filter: brightness(115%) !important;
}

#shlavContents {
  height: 72%;
  width: 100%;
  background-color: var(--bluelol);
  font-size: 1.3vw;
  border-radius: 0.5em;
  overflow: hidden;
}

.shlavContent em {
  font-weight: bold;
  text-align: center;
  font-size: 2.5vh;
}

.shlavContent li, em{
  font-size: 1.9vh;
}

#shlavLeumi li {
  font-size: 1.7vh;
}

#wrapper {
  position: relative;
  top: 0vh;
  height: 100%;
  width: 100%;
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shlavContent {
  display: flex;
  /* text-align: center; */
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  /* font-size: 1.75vw; */
  font-size: calc(0.8vw + 1.6vh);
  /* margin-bottom: 5vh; */
}

.shlavContent img {
  opacity: 0.7;
  display: block;
  height: 10vh;
  margin: 1vh auto;
}

/* Page 9 */
#page9 {
  /* background-color: red; */
  position: absolute;
  justify-content: space-between;
  align-items: flex-start; 
  flex-flow: wrap column; 
  right: 10vw;
  height: 60vh;
  width: 80vw;
}

.skill {
  background-color: var(--bluelol);
  border: 0.15vw black solid;
  height: 26vh;
  width: 13vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

}

.skill img {
  height: 10vh;
  width: 5vw;
}

.skill h1 {
  font-size: 1.5vw;
  font-weight: bold;
}

.skill p {
  font-size: 1vw;
}

.skill h1, p {
  text-align: center;
}

/* Page 10 */

#page10 {
  /* background-color: red; */
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 10vw;
  height: 70vh;
  width: 80vw;
}

#responsibilities {
  /* background-color: yellow; */
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  height: 70vh;
  width: 15vw;
}

.responsibilityBox {
  background-color: var(--bluelol);
  border: 1px black solid;
  border-radius: 0.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
  height: 9vh;
}

.responsibilityBox:checked {
  background-color: red;
}

.responsibilityBox:hover {
  background-color: var(--bluebox);
  cursor: pointer;
}

#responsibilitiesInfo {
  background-color: #6394d491;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
  height: 65vh;
  width: 60vw;
  padding: 1.5vw;
  border: 0.2vw solid black;
  border-radius: 2%;
}

#imgResponsibility {
  height: 12vh;
  width: 6vw;
}

#titleResponsibility {
  font-size: 2vw;
  font-weight: bold;
}

#textResponsibility {
  font-size: 1.5vw;
}

.responsibilitiesParts {
  display: none;
}

#preTextResponsibilities {
  font-size: 3vw;
  text-align: center;
  width: 40vw;
  margin: auto 0px;
}

/* LAST PAGE */

#mainScreen {
  position: absolute;
  right: 20vw;
  top: 20vh;
  background-color: var(--bluelol);
  padding: 4em 2em;
  border-radius: 5em;
  height: 50vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mainScreen h1 {
  color: black;
  font-size: 4vh;
  font-weight: 600;
}

#mainScreen p {
  font-weight: bold;
  font-size: 3vh;
  margin-top: 1vh;
}

#buttons {
  height: 10vh;
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vh;
}

.button {
  cursor: pointer;
  color: black;
  text-align: center;
  padding: 0em 0.5em;
  border-radius: 1em;
  height: 10vh;
  width: 15vw;
  font-size: 2.8vh;
  /* font-weight: bold; */
  background-color: var(--bluebox);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: var(--bluebox);
}